body{
  padding: 0;
  margin: 0;

}
header{
  background-image: url('../surfResources/header.jpg');
  background-size: cover;
  font-family: "Open Sans","Futura", sans-serif;
  color: #083451;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header ul {
  display: flex;
  flex-grow: 1;
  list-style: none;
  justify-content:flex-end;
  margin-right: 15px;
}

footer ul {
  display: flex;
  flex-grow: 1;
  list-style: none;
  justify-content:flex-end;
  margin-right: 15px;
}

header li {
  margin-left: 20px;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;

}
header form input[type=submit]{
  background-image: url('../surfResources/search-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  border: none;
  width: 2.25em;
  background-color: transparent;

}

header h1{
  text-align: center;
  margin-bottom: 0;
  font-size: 4em;
  font-weight:100;
  color: white;
}
header h6{
  text-align: center;
  margin-top: 0;
  padding-bottom: 75px;
}
main{
  font-family: "Oswald";
  font-weight: lighter;
  color: #083451;
}
main h2{
  font-weight: normal;
}
aside {
  margin-left: 50px;
  border-left: 2px solid gray;
}
aside h4 {
  margin-left: 10px;
  font-weight: lighter;
  font-size: 2em;
  color: #357CBA
}
.sidebar-auth-name {
  text-align: center;
}
.sidebar-headline{
  text-align: left;
}
.author-social-links ul{
  display:flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}
.author-social-links li{
margin-right: 10px;
}
.author-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h2{
  font-size: 3em;
  margin-bottom: 0;
}
.crestLogo{
  margin-left: 25px;
  margin-right: 10px;
}
.nav-bar {
  margin-left: 20px;
}
.content{
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
}
.blog-post {
  margin-right: 50px;
}
.avatar{
  margin-right: 10px;
}
.name{
margin-right: 5px;
}
.date{
  margin-left: 5px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ad {
  align-self: flex-start;
}
.blog-footer {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.links ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding-left: 0
}

.links li {
  display:flex;
  margin-right: 15px;
  background-color: #999999;
  padding-right: 10px;
  color: white;
  align-items: center;
  font-size: .75em;
}
.read-comments, .read-later{
background-color: #4d4d4d;
padding: 10px;
margin-right: 10px;
}
.share{
background-color: #083451;
padding: 10px;
margin-right: 10px;
}
.links .sharebg{
  background-color: #357CBA;
}
.article-image-container {
  display: flex;
  flex-wrap: nowrap;
}

footer {
  color: white;
  background-color: #083451
}
.ironyard-logo{
  margin-left: 25px;
  margin-right: 10px;
}
